*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #0c122c;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 75em) {
    body {
      background-image: url(../images/bg-desktop.png);
      background-size: contain;
      background-position: top 120% left; } }

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 10rem 1rem; }
  @media (min-width: 75em) {
    .container {
      flex-direction: row;
      gap: 3rem;
      align-items: flex-end; } }

.content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #1d2c67; }

.upload {
  gap: 4rem;
  padding: 5rem 10rem 5rem 5rem;
  border-top-right-radius: 50%; }
  .upload__files {
    display: flex;
    gap: 1.5rem; }
    .upload__files__icon {
      height: 50px;
      width: 50px;
      border-radius: 10px;
      background-color: #0c122c;
      display: flex;
      align-items: center;
      justify-content: center; }

.overview {
  padding: 4rem 4rem 5rem 4rem;
  gap: 2rem;
  position: relative;
  text-align: center; }
  @media (min-width: 75em) {
    .overview {
      width: 600px;
      text-align: left;
      padding: 4rem; } }
  .overview__slidebar {
    width: 100%;
    height: 20px;
    border-radius: 100px;
    background-color: #0c122c;
    overflow: hidden;
    position: relative; }
    .overview__slidebar::before {
      content: '';
      display: block;
      width: 80%;
      height: 100%;
      border: 4px solid #0c122c;
      border-radius: 100px;
      background-image: linear-gradient(90deg, #ffa399, #ff4d97);
      animation: slidebar 1s 1 ease-in-out; }
    .overview__slidebar::after {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: white;
      z-index: 100;
      position: absolute;
      top: 50%;
      left: calc(80% - 18px);
      transform: translateY(-50%);
      animation: dot 1s ease-in-out; }
  .overview__space {
    display: flex;
    justify-content: space-between; }
    .overview__space p {
      font-size: 1.4rem; }
  .overview__space-left {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 210px;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: white; }
    @media (min-width: 75em) {
      .overview__space-left {
        border-bottom-right-radius: 0;
        bottom: 85%;
        left: 76%; }
        .overview__space-left::after {
          content: "";
          display: block;
          border-bottom: 20px solid transparent;
          border-left: 20px solid transparent;
          border-right: 20px solid white;
          position: absolute;
          bottom: -20px;
          right: 0; } }
    .overview__space-left p {
      text-transform: uppercase; }

.paragraph {
  color: #dddbff;
  font-size: 1.6rem;
  opacity: 0.8; }

.text-grey {
  font-size: 1.4rem;
  color: #848794; }

.bold {
  font-weight: 700; }

.lead {
  font-size: 4.8rem;
  color: #0c122c;
  opacity: 1; }

@keyframes slidebar {
  0% {
    width: 1%; }
  100% {
    width: 80%; } }

@keyframes dot {
  0% {
    left: 0; }
  100% {
    left: calc(80% - 12px); } }
